[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/scbgh/oh-my-zsh
